*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav-bar{
    /* outline: 3px solid black; */
    /* height: 100px; */
    background-color: lightgrey;
    margin: 0px 30px;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-middle{
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

#nav-bar input{
    height: 36px;
    width: 340px;
    font-size: 1.5rem;
    padding: 20px 10px;
    border: 6px solid black;
}

#nav-bar button{
    /* height: 30px; */
    padding: 3px 10px;
    font-size: 1.5rem;
    background-color: blue;
    box-shadow: 3px 3px black;
    color: white;
}

h1{
    font-size: 50px;
}

#main{
    /* outline: solid red; */
    height: 700px;
    margin: 0px 30px;

    display: flex;
    /* gap: 20px; */
}

#col-left{
    flex: 2;
    margin-right: 20px;
}

#col-right{
    flex: 1;
}

.box1{
    outline: 6px solid black;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-right: 8px;
}

.box-left{
    /* outline: 3px solid red; */
    width: 300px;
    text-align: center;
    margin-right: 60px;
    font-size: 25px;
}

.box-left > h3{
    font-size: 50px;
}

.box-left > button{
    background-color: gold;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 15px;
    margin-top: 35px;
    box-shadow: 3px 3px black;
}

.box-right > p{
    font-size: 30px;
}

#upload{
    /* outline: 3px solid red; */
    border: 6px solid black;
    padding: 15px;
    font-size: 35px;
}


#upload > button{
    background-color: rgb(178, 198, 137);
    padding: 8px 30px;
    box-shadow: 3px 3px black;
    margin-top: 20px;
    font-size: 25px;
}

#upload b{
    font-size: 35px;
    /* font-weight: 900; */
}

#cookie-box{
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    /* outline: solid red; */
    margin: 0px 30px;
    font-size: 30px;
    padding: 20px;
    background-color: grey;

    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
}

#cookie-box img{
    width: 140px;
}

#cookie-box > button{
    background-color: blue;
    color: white;
    font-size: 25px;
    width: 200px;
    padding: 0px 20px;
    box-shadow: 3px 3px black;
}

video{
    height: 250px;
    width: 250px;

}